.am-fade-and-slide-right {
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
.am-fade-and-slide-right.am-fade-and-slide-right-add,
.am-fade-and-slide-right.ng-hide-remove,
.am-fade-and-slide-right.ng-move {
  animation-name: fadeAndSlideFromRight;
}
.am-fade-and-slide-right.am-fade-and-slide-right-remove,
.am-fade-and-slide-right.ng-hide {
  animation-name: fadeAndSlideToRight;
}
.am-fade-and-slide-right.ng-enter {
  visibility: hidden;
  animation-name: fadeAndSlideFromRight;
  animation-play-state: paused;
}
.am-fade-and-slide-right.ng-enter.ng-enter-active {
  visibility: visible;
  animation-play-state: running;
}
.am-fade-and-slide-right.ng-leave {
  animation-name: fadeAndSlideToRight;
  animation-play-state: paused;
}
.am-fade-and-slide-right.ng-leave.ng-leave-active {
  animation-play-state: running;
}
@keyframes fadeAndSlideFromTop {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeAndSlideToTop {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-20%);
  }
}
@keyframes fadeAndSlideFromRight {
  from {
    opacity: 0;
    transform: translateX(20%);
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeAndSlideToRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(20%);
  }
}
@keyframes fadeAndSlideFromBottom {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeAndSlideToBottom {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(20%);
  }
}
@keyframes fadeAndSlideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeAndSlideToLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(-20%);
  }
}
