
@import "bootstrap";
@import "../vendor/font-awesome/less/font-awesome";

@import url("http://fonts.googleapis.com/css?family=Lato:400,700,400italic");

.full-width() {
    width: 100%;
}

.full-width {
    .full-width();
}


[tabindex="-1"] {
	outline: none;
}

a[ng-click] {
	cursor: pointer;
}

a {
	cursor: pointer;
}



// Navbar =====================================================================

.navbar {
	border-width: 0;

	&-default {

		.badge {
			background-color: #fff;
			color: @navbar-default-bg;
		}
	}

	&-inverse {

		.badge {
			background-color: #fff;
			color: @navbar-inverse-bg;
		}
	}

	&-brand {
		padding: 18.5px 15px 20.5px;
	}
}

// Buttons ====================================================================

.btn:active {
	.box-shadow(none);
}

.btn-group.open .dropdown-toggle {
	.box-shadow(none);
}

// Typography =================================================================

.text-primary,
.text-primary:hover {
	color: @brand-primary;
}

.text-success,
.text-success:hover {
	color: @brand-success;
}

.text-danger,
.text-danger:hover {
	color: @brand-danger;
}

.text-warning,
.text-warning:hover {
	color: @brand-warning;
}

.text-info,
.text-info:hover {
	color: @brand-info;
}

// Tables =====================================================================

table,
.table {

	a:not(.btn) {
		text-decoration: underline;
	}

	.success,
	.warning,
	.danger,
	.info {
		color: #fff;

		a {
			color: #fff;
		}
	}

	> thead > tr > th,
	> tbody > tr > th,
	> tfoot > tr > th,
	> thead > tr > td,
	> tbody > tr > td,
	> tfoot > tr > td {
		border: none;
	}

	&-bordered > thead > tr > th,
	&-bordered > tbody > tr > th,
	&-bordered > tfoot > tr > th,
	&-bordered > thead > tr > td,
	&-bordered > tbody > tr > td,
	&-bordered > tfoot > tr > td {
		border: 1px solid @table-border-color;
	}
}

// Forms ======================================================================

.form-control,
input, {
	border-width: 2px;
	.box-shadow(none);

	&:focus {
		.box-shadow(none);
	}
}

.has-warning {
	.help-block,
	.control-label,
	.radio,
	.checkbox,
	.radio-inline,
	.checkbox-inline,
	.form-control-feedback {
		color: @brand-warning;
	}

	.form-control,
	.form-control:focus {
		border: 2px solid @brand-warning;
	}

	.input-group-addon {
		border-color: @brand-warning;
	}
}

.has-error {
	.help-block,
	.control-label,
	.radio,
	.checkbox,
	.radio-inline,
	.checkbox-inline,
	.form-control-feedback {
		color: @brand-danger;
	}

	.form-control,
	.form-control:focus {
		border: 2px solid @brand-danger;
	}

	.input-group-addon {
		border-color: @brand-danger;
	}
}

.has-success {
	.help-block,
	.control-label,
	.radio,
	.checkbox,
	.radio-inline,
	.checkbox-inline,
	.form-control-feedback {
		color: @brand-success;
	}

	.form-control,
	.form-control:focus {
		border: 2px solid @brand-success;
	}

	.input-group-addon {
		border-color: @brand-success;
	}
}

// Navs =======================================================================

.nav {
	.open > a,
	.open > a:hover,
	.open > a:focus {
		border-color: transparent;
	}
}

.pager {
	a,
	a:hover {
		color: #fff;
	}

	.disabled {
		&>a,
		&>a:hover,
		&>a:focus,
		&>span {
			background-color: @pagination-disabled-bg;
		}
	}
}

// Indicators =================================================================

.close {
	color: #fff;
	text-decoration: none;
	opacity: 0.4;

	&:hover,
	&:focus {
		color: #fff;
		opacity: 1;
	}
}

.alert {

	.alert-link {
		color: #fff;
		text-decoration: underline;
	}
}

// Progress bars ==============================================================

.progress {
	height: 10px;
	.box-shadow(none);
	.progress-bar {
		font-size: 10px;
		line-height: 10px;
	}
}

// Containers =================================================================

.well {
	.box-shadow(none);
}

.panel {
	&-default {
		.close {
			color: @text-color;
		}
	}
}

.modal {
	.close {
		color: @text-color;
	}
}

.popover {
	color: @text-color;
}









.navbar {
	margin-top: 20px;
	margin-bottom: 20px;
}

.ui-section {
	margin-bottom: 60px;
}




.file-input-wrapper {
	overflow: hidden;
	position: relative;
	cursor: pointer;
	z-index: 1;

	input[type=file],
	input[type=file]:focus,
	input[type=file]:hover {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		cursor: pointer;
		opacity: 0;
		z-index: 99;
		outline: 0;
	}
}

tags-input {


	.tags {
		display: block;
		width: 100%;
		min-height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
		font-size: @font-size-base;
		line-height: @line-height-base;
		color: @input-color;
		background-color: @input-bg;
		background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
		border: 2px solid @input-border;
		border-radius: @input-border-radius;
		.box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
		.transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");

		&.focused {
			border: 2px solid @input-border-focus;
		}

		.tag-list {
			margin: 0;
			padding: 0 2px;
			list-style: none;
            float: left;
            .clearfix();
//			padding: @padding-base-vertical @padding-base-horizontal;
		}

		.tag-item {
			margin: 4px 3px;
			display: inline-block;
			padding: 5px 8px;
//			font-size: 75%;
			font-weight: bold;
			color: @label-color;
			text-align: center;
			white-space: nowrap;
			vertical-align: baseline;
			border-radius: .25em;
			float: left;
			.label-variant(@label-default-bg);

			.remove-button {
				color: @label-color;
				margin: 0 0 0 5px;

				&:hover {
					text-decoration: none;
				}
			}
		}
		.tag-item.selected {
			color: white;
			background: #d9534f;
			border: 1px solid #d43f3a;
		}

		.input {
			border: 0;
			outline: 0;
            margin: 4px 3px;
			padding: 5px 0px;
			float: left;
			height: 31px;
			font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
		}
	}

	.host {
		margin: 0;
	}

	.autocomplete {
		border-radius: 4px;
		.suggestion-item.selected {
			color: #262626;
			background-color: whitesmoke;
			em {
				color: #262626;
				background-color: whitesmoke;
			}
		}
		.suggestion-item {
			em {
				color: black;
				background-color: white;
			}
		}
	}
}


tags-input.ng-invalid {
	.tags {
		border-color: #843534;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
	}
}
.input-group {
	tags-input {
		padding: 0;
		display: table-cell;
	}
	tags-input:not(:first-child) {
		.tags {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
	tags-input:not(:last-child) {
		.tags {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}
.input-group-lg {
	tags-input:first-child {
		.tags {
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
		}
	}
	tags-input:last-child {
		.tags {
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
		}
	}
}
.input-group-sm {
	tags-input:first-child {
		.tags {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
	}
	tags-input:last-child {
		.tags {
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}
}
tags-input.ti-input-lg, .input-group-lg tags-input {
	min-height: 46px;
}
tags-input.ti-input-lg .tags, .input-group-lg tags-input .tags {
	border-radius: 6px;
}
tags-input.ti-input-lg .tags .tag-item, .input-group-lg tags-input .tags .tag-item {
	height: 38px;
	line-height: 37px;
	font-size: 18px;
	border-radius: 6px;
}
tags-input.ti-input-lg .tags .tag-item .remove-button, .input-group-lg tags-input .tags .tag-item .remove-button {
	font-size: 20px;
}
tags-input.ti-input-lg .tags .input, .input-group-lg tags-input .tags .input {
	height: 38px;
	font-size: 18px;
}
tags-input.ti-input-sm, .input-group-sm tags-input {
	min-height: 30px;
}
tags-input.ti-input-sm .tags, .input-group-sm tags-input .tags {
	border-radius: 3px;
}
tags-input.ti-input-sm .tags .tag-item, .input-group-sm tags-input .tags .tag-item {
	height: 22px;
	line-height: 21px;
	font-size: 12px;
	border-radius: 3px;
}
tags-input.ti-input-sm .tags .tag-item .remove-button, .input-group-sm tags-input .tags .tag-item .remove-button {
	font-size: 16px;
}
tags-input.ti-input-sm .tags .input, .input-group-sm tags-input .tags .input {
	height: 22px;
	font-size: 12px;
}
.has-feedback {
	tags-input {
		.tags {
			padding-right: 30px;
		}
	}
}
.has-success {
	tags-input {
		.tags {
			border-color: #3c763d;
		}
		.tags.focused {
			border-color: #2b542c;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
			-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
		}
	}
}
.has-error {
	tags-input {
		.tags {
			border-color: #a94442;
		}
		.tags.focused {
			border-color: #843534;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
			-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
		}
	}
}
.has-warning {
	tags-input {
		.tags {
			border-color: #8a6d3b;
		}
		.tags.focused {
			border-color: #66512c;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
			-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
		}
	}
}
