
@import "variables";
@import "../vendor/bootstrap/less/mixins/vendor-prefixes";
@import "../vendor/font-awesome/less/font-awesome";

@import url("http://fonts.googleapis.com/css?family=Lato:400,700,400italic");

// Navbar =====================================================================

.navbar {
	border-width: 0;

	&-default {

		.badge {
			background-color: #fff;
			color: @navbar-default-bg;
		}
	}

	&-inverse {

		.badge {
			background-color: #fff;
			color: @navbar-inverse-bg;
		}
	}

	&-brand {
		padding: 18.5px 15px 20.5px;
	}
}

// Buttons ====================================================================

.btn:active {
	.box-shadow(none);
}

.btn-group.open .dropdown-toggle {
	.box-shadow(none);
}

// Typography =================================================================

.text-primary,
.text-primary:hover {
	color: @brand-primary;
}

.text-success,
.text-success:hover {
	color: @brand-success;
}

.text-danger,
.text-danger:hover {
	color: @brand-danger;
}

.text-warning,
.text-warning:hover {
	color: @brand-warning;
}

.text-info,
.text-info:hover {
	color: @brand-info;
}

// Tables =====================================================================

table,
.table {

	a:not(.btn) {
		text-decoration: underline;
	}

	.success,
	.warning,
	.danger,
	.info {
		color: #fff;

		a {
			color: #fff;
		}
	}

	> thead > tr > th,
	> tbody > tr > th,
	> tfoot > tr > th,
	> thead > tr > td,
	> tbody > tr > td,
	> tfoot > tr > td {
		border: none;
	}

	&-bordered > thead > tr > th,
	&-bordered > tbody > tr > th,
	&-bordered > tfoot > tr > th,
	&-bordered > thead > tr > td,
	&-bordered > tbody > tr > td,
	&-bordered > tfoot > tr > td {
		border: 1px solid @table-border-color;
	}
}

// Forms ======================================================================

.form-control,
input, {
	border-width: 2px;
	.box-shadow(none);

	&:focus {
		.box-shadow(none);
	}
}

.has-warning {
	.help-block,
	.control-label,
	.radio,
	.checkbox,
	.radio-inline,
	.checkbox-inline,
	.form-control-feedback {
		color: @brand-warning;
	}

	.form-control,
	.form-control:focus {
		border: 2px solid @brand-warning;
	}

	.input-group-addon {
		border-color: @brand-warning;
	}
}

.has-error {
	.help-block,
	.control-label,
	.radio,
	.checkbox,
	.radio-inline,
	.checkbox-inline,
	.form-control-feedback {
		color: @brand-danger;
	}

	.form-control,
	.form-control:focus {
		border: 2px solid @brand-danger;
	}

	.input-group-addon {
		border-color: @brand-danger;
	}
}

.has-success {
	.help-block,
	.control-label,
	.radio,
	.checkbox,
	.radio-inline,
	.checkbox-inline,
	.form-control-feedback {
		color: @brand-success;
	}

	.form-control,
	.form-control:focus {
		border: 2px solid @brand-success;
	}

	.input-group-addon {
		border-color: @brand-success;
	}
}

// Navs =======================================================================

.nav {
	.open > a,
	.open > a:hover,
	.open > a:focus {
		border-color: transparent;
	}
}

.pager {
	a,
	a:hover {
		color: #fff;
	}

	.disabled {
		&>a,
		&>a:hover,
		&>a:focus,
		&>span {
			background-color: @pagination-disabled-bg;
		}
	}
}

// Indicators =================================================================

.close {
	color: #fff;
	text-decoration: none;
	opacity: 0.4;

	&:hover,
	&:focus {
		color: #fff;
		opacity: 1;
	}
}

.alert {

	.alert-link {
		color: #fff;
		text-decoration: underline;
	}
}

// Progress bars ==============================================================

.progress {
	height: 10px;
	.box-shadow(none);
	.progress-bar {
		font-size: 10px;
		line-height: 10px;
	}
}

// Containers =================================================================

.well {
	.box-shadow(none);
}

.panel {
	&-default {
		.close {
			color: @text-color;
		}
	}
}

.modal {
	.close {
		color: @text-color;
	}
}

.popover {
	color: @text-color;
}






a {
	cursor: pointer;
}

.navbar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ui-section {
	margin-bottom: 60px;
}






body {
    .modal {
        overflow-y: hidden;
    }
    &.modal-open {
        overflow-y: visible !important;
    }
}

[tabindex="-1"] {
    outline: none;
}

a[ng-click] {
    cursor: pointer;
}


.panel-collapse.am-collapse {
	.animation-duration(.3s);
	.animation-timing-function(ease);
	.animation-fill-mode(backwards);

    overflow: hidden;

    &.in-remove {
        .animation-name(collapse);

        display: block;
    }
    &.in-add {
        .animation-name(expand);
    }
}

.panel-collapse.am-collapse2 {
    .transition(.3s ease max-height);

    max-height: 100px;
    overflow: hidden;

    &.in-remove {
        max-height: 100px;
        display: block;
    }
    &.in-add {
        max-height: 0px;
    }
}

@keyframes expand {
    from {
        max-height: 0px;
    }
    to {
        max-height: 100px;
    }
}

@keyframes collapse {
    from {
        max-height: 100px;
    }
    to {
        max-height: 0px;
    }
}


.tab-pane.am-fade {
    .animation-duration(.3s);
    .animation-timing-function(ease);
    .animation-fill-mode(backwards);
    opacity: 1;

    &.active-remove {
        display: none !important;
    }
    &.active-add {
        .animation-name(fadeIn);
    }
}


// fix bootstrap
.modal {
    &.center {
        .modal-dialog {
            position: fixed;
            top: 40%;
            left: 50%;
            min-width: 320px;
            max-width: 630px;
            width: 50%;

			.translate(-50%, -50%);
        }
    }
}

.modal {

    .animation(noop) !important;

    &.am-fade-and-slide-top {

        .modal-dialog {
			.animation-duration(.3s);
			.animation-timing-function(ease-in-out);
			.animation-fill-mode(backwards);
			.animation-name(fadeAndSlideFromTop);
        }

        &.ng-enter {
            .modal-dialog {
                visibility: hidden;
				.animation-name(fadeAndSlideFromTop);
            }
        }
        &.ng-enter-active {
            .modal-dialog {
                visibility: visible;
            }
        }
        &.ng-leave {
            //@todo
            .modal-dialog {
				.animation-name(fadeAndSlideToTop);
            }
        }

    }

}

@keyframes noop {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

.file-input-wrapper {
	overflow: hidden;
	position: relative;
	cursor: pointer;
	z-index: 1;

	input[type=file],
	input[type=file]:focus,
	input[type=file]:hover {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		cursor: pointer;
		opacity: 0;
		z-index: 99;
		outline: 0;
	}
}