<!DOCTYPE html>
<html ng-app="dashboard">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>AngularJS • UI</title>
    <link rel="stylesheet" href="dist/ui.css">
</head>
<body ng-controller="MainCtrl">

    <div class="container">

        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="./">Default</a></li>
                        <li><a href="../navbar-static-top/">Static top</a></li>
                        <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <section class="ui-section" ng-controller="TabCtrl">

            <h1 id="tabs" class="page-header">Tabs <small>tab.js</small></h1>

            <div class="ui-example">

                <div ng-model="tabs.activeTab" ui-tabs>
                    <div ng-repeat="tab in tabs" title="{{ tab.title }}" ng-bind="tab.content" ui-pane></div>
                </div>

            </div>
        </section>


        <section class="ui-section" ng-controller="CollapseCtrl">

            <h1 id="collapse" class="page-header">Collapse <small>collapse.js</small></h1>

            <div class="ui-example">

                <div class="panel-group" ng-model="panels.activePanel" ui-collapse="">
                    <div class="panel panel-default" ng-repeat="panel in panels">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a ui-collapse-toggle="">
                                    {{ panel.title }}
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse" ui-collapse-target="">
                            <div class="panel-body">
                                {{ panel.body }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <section class="ui-section" ng-controller="ButtonCtrl">

            <h1 id="button" class="page-header">Button <small>button.js</small></h1>

            <div class="ui-example">

                <label>Toggle:</label>
                <button type="button" class="btn btn-default" ng-model="button.toggle" ui-checkbox>Toggle</button>
                <!-- You can also use custom values with the `data-true-value` & `data-false-value` attributes -->

                <hr><label>Checkboxes:</label>
                <div class="btn-group" ng-model="button.checkbox" ui-checkbox-group>
                    <label class="btn btn-default"><input type="checkbox" value="left"> Left</label>
                    <label class="btn btn-default"><input type="checkbox" value="middle"> Middle</label>
                    <label class="btn btn-default"><input type="checkbox" value="right"> Right</label>
                    <!-- Children get compiled by `bs-checkbox-group` to :
                    <label class="btn btn-default"><input type="checkbox" value="left" ng-model="button.checkbox.left" bs-checkbox> Left</label>
                    ...
                    -->
                </div>

                <hr><label>Radios:</label>
                <div class="btn-group" ng-model="button.radio" ui-radio-group>
                    <label class="btn btn-default"><input type="radio" class="btn btn-default" value="0"> First</label>
                    <label class="btn btn-default"><input type="radio" class="btn btn-default" value="1"> Second</label>
                    <label class="btn btn-default"><input type="radio" class="btn btn-default" value="2"> Third</label>
                    <!-- Children get compiled by `bs-radio-group` to :
                    <label class="btn btn-default"><input type="radio" class="btn btn-default" value="left" ng-model="button.radio" bs-radio> Left</label>
                    ...
                    -->
                </div>

            </div>
        </section>


        <section class="ui-section">

            <h1 id="mask" class="page-header">Mask</h1>

            <div class="ui-example">

                <div class="row">
                    <div class="col-xs-3">
                        <input type="text" class="form-control" name="field" ui-mask="(999) 999-9999" ng-model="phoneNumber">
                    </div>
                </div>

            </div>
        </section>


        <section class="ui-section" ng-controller="TooltipCtrl">

            <h1 id="tooltips" class="page-header">Tooltips <small>tooltip.js</small></h1>

            <div class="ui-example">

                <p>Tight pants next level keffiyeh <a href="" data-title="Tooltip content" ui-tooltip>you probably</a> haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown.</p>
                <input type="text" class="form-control" data-placement="bottom-left" data-animation="am-fade" data-type="info" placeholder="Focus to toggle tooltip" data-trigger="focus" ui-tooltip="tooltip">

            </div>
        </section>


        <section class="ui-section" ng-controller="TypeaheadCtrl">

            <h1 id="typeahead" class="page-header">Typeahead <small>typeahead.js</small></h1>

            <div class="ui-example">

                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label><i class="fa fa-globe"></i> State</label>
                        <input type="text" class="form-control" ng-model="selectedState" ng-options="state for state in states" placeholder="Enter state" ui-typeahead>
                    </div>
                    <div class="form-group">
                        <label>Icon</label>
                        <input type="text" class="form-control" ng-model="selectedIcon" data-min-length="0" data-html="1" data-animation="am-flip-x" ng-options="icon as icon.label for icon in icons" placeholder="Enter icon" ui-typeahead>
                    </div>
                    <hr>
                    <!-- Using an async data provider -->
                    <div class="form-group">
                        <label><i class="fa fa-home"></i> Address <small>(async via maps.googleapis.com)</small></label>
                        <input type="text" class="form-control" ng-model="selectedAddress" data-animation="am-flip-x" ng-options="address.formatted_address as address.formatted_address for address in getAddress($viewValue)" placeholder="Enter address" ui-typeahead>
                    </div>
                </form>

            </div>
        </section>


        <section class="ui-section" ng-controller="PopoverCtrl">

            <h1 id="popover" class="page-header">Popover <small>popover.js</small></h1>

            <div class="ui-example">

                <button type="button" class="btn btn-lg btn-primary" data-placement="top" title="{{popover.title}}" data-content="{{popover.content}}" data-trigger="focus" ui-popover>Click to toggle popover</button>

            </div>
        </section>


        <section class="ui-section" ng-controller="ModalCtrl">

            <h1 id="modal" class="page-header">Modal <small>modal.js</small></h1>

            <div class="ui-example">

                <button type="button" class="btn btn-lg btn-primary" data-animation="am-fade" data-placement="center" ui-modal="modal">Click to toggle modal</button>

            </div>

        </section>


        <section class="ui-section" ng-controller="DropdownCtrl">

            <h1 id="dropdown" class="page-header">Dropdown <small>dropdown.js</small></h1>

            <div class="ui-example">

                <button type="button" class="btn btn-lg btn-primary" data-animation="am-flip-x" ui-dropdown="dropdown">Click to toggle dropdown</button>

            </div>

        </section>


        <section class="ui-section" ng-controller="SelectCtrl">

            <h1 id="select" class="page-header">Select <small>select.js</small></h1>

            <div class="ui-example">

                <label>Single select:&nbsp;</label>
                <button type="button" class="btn btn-default" ng-model="selectedIcon" data-html="1" ng-options="icon.value as icon.label for icon in icons" ui-select>
                    Action <span class="caret"></span>
                </button>

                <hr>

                <label>Multiple select:&nbsp;</label>
                <button type="button" class="btn btn-default" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" ng-options="icon.value as icon.label for icon in icons" ui-select>
                    Action <span class="caret"></span>
                </button>

            </div>

        </section>


    </div>


    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-sanitize/angular-sanitize.js"></script>

    <!-- plugins -->
    <script src="vendor/angular-animate/angular-animate.js"></script>

    <!-- utils -->
    <script src="js/utils/mask.js"></script>
    <script src="js/helpers/dimensions.js"></script>
    <script src="js/helpers/parse-options.js"></script>

    <!-- Application -->
    <script src="js/app.js"></script>

    <!-- ui modules -->
    <script src="js/modules/tab/tab.js"></script>
    <script src="js/modules/collapse/collapse.js"></script>
    <script src="js/modules/button/button.js"></script>
    <script src="js/modules/tooltip/tooltip.js"></script>
    <script src="js/modules/typeahead/typeahead.js"></script>
    <script src="js/modules/popover/popover.js"></script>
    <script src="js/modules/modal/modal.js"></script>
    <script src="js/modules/dropdown/dropdown.js"></script>
    <script src="js/modules/select/select.js"></script>
    <script src="js/ui.js"></script>

</body>
</html>