<!DOCTYPE html>
<html ng-app="dashboard">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>AngularJS • UI</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="MainCtrl">

    <div class="container">

        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="./">Default</a></li>
                        <li><a href="../navbar-static-top/">Static top</a></li>
                        <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <section class="ui-section" ng-controller="TabCtrl">
            <div class="bs-example">

                <div ng-model="tabs.activeTab" ui-tabs>
                    <div ng-repeat="tab in tabs" title="{{ tab.title }}" ng-bind="tab.content" ui-pane></div>
                </div>

            </div>
        </section>


        <section class="ui-section" ng-controller="CollapseCtrl">
            <div class="bs-example">

                <div class="panel-group" ng-model="panels.activePanel" ui-collapse="">
                    <div class="panel panel-default" ng-repeat="panel in panels">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a ui-collapse-toggle="">
                                    {{ panel.title }}
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse" ui-collapse-target="">
                            <div class="panel-body">
                                {{ panel.body }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </div>


    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-animate/angular-animate.js"></script>
    <script src="js/app.js"></script>

    <!-- ui modules -->
    <script src="js/modules/tab/tab.js"></script>
    <script src="js/modules/collapse/collapse.js"></script>
    <script src="js/ui.js"></script>
    <!-- /ui modules -->

</body>
</html>